@import "//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css";

.card-module {
  width: 60%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, .2);
  &:after {
    content: '';
    padding-top: 100%;
    display: block;
  }
  .bg-img {
    background: url(http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=720);
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(50px);
    background-size: cover;
    background-position: center;
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display:block;
  }
  .content {
    background: rgba(0,0,0, .25);
    top: 0;
    display: block;
    width: 100%;
    bottom: 0;
    height: 100%;
    position: absolute;
    z-index: 1;
    text-align: center;
    .me {
      padding: 15px 5px;
      display: block;
      img {
        max-width: 60%;
        margin: 0 auto;
        border-radius: 50%;
      }
    }
  }
}


/* # BASE STYLES
 **************************/
.container {
  width: 95%;
  margin: 15px auto 0;
}

*, *:before, *:after {
  @include box-sizing(border-box);
}
body, html {
  background-color: #222326;
  font-family: 'proxima-nova';
  font-weight: 300;
}
img {
  max-width: 100%;
  height: auto;
}